<div class="homepage-container">
  <div class="home-body">
    <div class="main-content">
      <div class="login-container">
        <div class="header">
          <img src="https://mysliit-my.sharepoint.com/personal/it15116420_my_sliit_lk/_layouts/15/guestaccess.aspx?docid=107867940853e4ee9ba73dd9a7bdf96b8&authkey=Afn8Yb6k5FCB8Nxi8xfLOvI&expiration=2018-01-24T08%3A41%3A33.000Z&e=6d065036284a4b42bc5a5f150903c182" class="img-responsive" alt="" />
        </div>
        <div class="body">
          <mat-form-field class="body-content">
            <input matInput placeholder="Username" [(ngModel)]="username" required>
          </mat-form-field>
          <mat-form-field class="body-content">
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" required> 
          </mat-form-field>

          <button mat-raised-button color="primary" class="body-button" (click)="login()">Sign in</button>
        </div>
        <div class="fotter">
          <div>
            <a href="#">Create account</a> or
            <a href="#">reset password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>