<div class="main-conataine" (mouseenter)="changeIcon()">
    <mat-toolbar >
        <mat-toolbar-row>
          <span class="mainTitle"></span>
          <button mat-button [routerLink]="['/home-page']">HOME</button>
          <button mat-button [routerLink]="['/channel-home']">CHANNELING</button>
          <button mat-button>CHECK UP</button>
       
          <span class="example-spacer"></span>
        
          <div class="log-user-icon" mat-icon-button [matMenuTriggerFor]="menu" (click)="changeIcon()">
            <img [src]="imageSRC" class="user-photo" >
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="doLogin()">
              <mat-icon>{{loginIcon}}</mat-icon>
              <span>{{loginTitle}}</span>
            </button>
            <!-- <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button> -->
            <button mat-menu-item (click)="settingsPage()">
              <mat-icon>settings</mat-icon>
              <span>Profile</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      
      </mat-toolbar>
      
      
      <router-outlet ></router-outlet>
</div>